[submodule "Charcoal/vendor/spdlog"]
	path = Charcoal/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Charcoal/vendor/GLFW"]
	path = Charcoal/vendor/GLFW
	url = https://github.com/MayushKumar/glfw
[submodule "Charcoal/vendor/ImGui"]
	path = Charcoal/vendor/ImGui
	url = https://github.com/MayushKumar/imgui
[submodule "Charcoal/vendor/GLM"]
	path = Charcoal/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Charcoal/tools/CMFCompiler/vendor/tinyobjloader"]
	path = Charcoal/tools/CMFCompiler/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "tools/CMFCompiler/vendor/tinyobjloader"]
	path = tools/CMFCompiler/vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
