# Directories
.vs/
bin/
bin-int/
build/
CMakeFiles/
.cache/
.clangd/

# Files
Charcoal\ Engine.sln
*.user
*.vcxproj
*.vcxproj.*
*~
\#*
Makefile
CMakeCache.txt
compile_commands.json
CharcoalProfile*
Management.org